<p>Defer views</p>

<!-- @defer (on interaction){
    <p>Contendt</p>
} @placeholder {
    <p>Placeholder</p>
} -->

<!-- @defer (on hover){
    <p>Contendt</p>
} @placeholder {
    <p>Placeholder</p>

} -->


<!-- @defer (when false ; on interaction){
    <p>Contendt</p>
} @placeholder {
    <p>Placeholder</p>
} -->


<!-- @defer (when false ; on timer(3s)){
    <p>Contendt</p>
} @placeholder {
    <p>Placeholder</p>
} -->

<!-- @defer (when false ; on viewport){
    <p>Contendt</p>
} @placeholder {
    <p>Placeholder</p>
} -->


@defer (when false ; on ){
    <p>Contendt</p>
} @placeholder {
    <p>Placeholder</p>
}